[submodule "mruby"]
	path = components/mruby_component/mruby
	url = https://github.com/mruby/mruby.git
[submodule "components/esp-request"]
	path = components/esp-request
	url = https://github.com/ppibburr/esp-request
